{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body class="filters-init">
    <div id="app" class="l-body">
        <header class="header">
            <div class="l-wrapper">
                <div class="header__inn">
                    <div class="header__left">
                        <div class="header__logo">
                            <a href="/" class="logo ">
                                <img src="{% static 'icons/task/logo.png' %}" class="logo__img">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </header>
    </div>
</body>
</html>