a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}
a,
a:focus,
button,
div,
h1,
h2,
h3,
h4,
h5,
h6,
input,
select,
span,
textarea {
    outline: 0;
}
*, :after, :before {
    box-sizing: inherit;
}
input {
    font-family: Montserrat,sans-serif;
}
input:not(:checked)~.h-switcher__label:not(:last-child) {
    opacity: 1;
}
a {
    text-decoration: none;
    color: #6972e0;
    -webkit-transition: color ease .3s;
    transition: color ease .3s;
}
body {
    min-width: 320px;
    color: #4e5665;
    font-family: Montserrat,Arial,-apple-system-body,sans-serif;
    font-weight: 500;
    background: #f7f8fc;
    line-height: normal;
    position: relative;
    font-size: 12px;
    overflow-x: hidden;
    min-height: 100vh;
}
img {
    max-width: 100%;
    max-height: 100%;
    display: inline-block;
    vertical-align: top;
}
.p-home {
    position: relative;
    padding-top: 36px;
}


/*  */
.relative {
    position: relative;
}
.h1,
.h2,
.h3,
.h4 {
font-weight: 600;
line-height: 1.4;
}