body {
    min-width: 320px;
    color: #4e5665;
    font-family: Montserrat,Arial,-apple-system-body,sans-serif;
    font-weight: 500;
    background: #f7f8fc;
    line-height: normal;
    position: relative;
    font-size: 12px;
    overflow-x: hidden;
    min-height: 100vh;
}
* {
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: #6972e0;
    transition: color ease .3s;
}
a img, fieldset, img {
    border: none;
}
img {
    max-width: 100%;
    max-height: 100%;
    display: inline-block;
    vertical-align: top;
}
ol, ul {
    list-style-type: none;
}
.btn{
    font-weight: 600;
    display: inline-flex;
    border: 0;
    cursor: pointer;
    align-items: center;
    text-align: center;
    position: relative;
    overflow: hidden;
    height: 40px;
    font-size: 12px;
    border-radius: 8px;
    background: #6972e0;
    color: #fff;
    transition: all ease .3s;
    padding: 0 20px;
}
/* header */
.header {
    padding: 10px 0;
}
.l-wrapper {
    max-width: 1330px;
    margin: 0 auto;
    width: 100%;
    padding: 0 15px;
}
.header__inn {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    position: relative;
}
/* header__left  */
.header__left {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}
.header__logo {
    width: 230px;
    margin-right: 35px;
    text-align: center;
}
.header__logo .logo {
    display: inline-block;
    width: 140px;
}
/* header__menu  */
.header__menu-list {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    margin: 0 -3px;
}
.header__menu-item {
    padding: 0 3px;
}
.header__menu-link {
    display: flex;
    align-items: center;
    height: 36px;
    justify-content: center;
    color: #b9bdf5;
    font-weight: 600;
    padding: 0 15px;
    transition: all ease .3s;
    border-radius: 18px;
}
.icon {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    transition: all ease .3s;
    width: 1em;
    height: 1em;
}
.header__menu-link .icon {
    font-size: 15px;
    margin-right: 12px;
    fill: #b9bdf5;
}
.header__menu-link:hover {
    color: #fff;
}
.header__menu-link.is-active {
    background: #7079e9;
}
.header__menu-link.is-active, .header__menu-link:hover {
    color: #fff;
}
/* header__right  */
.header__right-inn {
    display: inline-flex;
}
.header__right-inn {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}
.header__balance {
    height: 36px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #7079e9;
    font-size: 12px;
    font-weight: 600;
    color: #fff;
    min-width: 100px;
    padding: 0 7px;
    border-radius: 18px;
    position: relative;
    margin-right: 40px;
}
.header__balance .icon-r {
    font-size: 13px;
    margin-right: 10px;
    fill: #b9bdf5;
}
.icon-r {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    transition: all ease .3s;
    width: 2em;
    height: 2em;
}
.header__nav {
    display: flex;
    flex-wrap: nowrap;
    margin: 0 -9px;
    align-items: center;
}
.header__notification {
    height: 60px;
    display: flex;
    align-items: center;
}
.header__nav-link {
    position: relative;
}
.header__nav-link .icon {
    font-size: 16px;
    fill: #ced0fb;
}
/* header__user */
.header__user {
    margin-left: 25px;
    position: relative;
}
.header__user-main {
    margin-left: -5px;
    padding-left: 5px;
    padding-right: 25px;
}
.header__user-main {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    position: relative;
    padding-left: 10px;
    padding-right: 30px;
    margin-left: -10px;
    height: 60px;
    max-width: 180px;
}
.dropdown-toggle::after {
    font-size: 20px;
    color: rgba(221, 233, 254, 0.5);
    position: absolute;
    right: 10px;
}
.show .dropdown-toggle:after {
    transform: translateY(-50%) rotate(180deg);
}
.d-md-flex {
    display: flex!important;
}
.header__user .user-pic {
    height: 32px;
    width: 32px;
    flex-shrink: 0;
}
.user-pic {
    width: 48px;
    height: 48px;
    position: relative;
    border-radius: 50%;
    display: block;
}
.user-pic img {
    z-index: 2;
    position: relative;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.header__user-name {
    font-size: 12px;
    font-weight: 600;
    color: #fff;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 15px;
}
@media only screen and (max-width: 1300px)
.header__user-name {
    display: none;
}

/* header__user */
.l-wrapper {
    max-width: 1330px;
    margin: 0 auto;
    width: 100%;
    padding: 0 15px;
}
.l-inner {
    display: flex;
    padding: 0 0 60px;
    flex-wrap: nowrap;
    min-height: calc(100vh - 80px);
}
.l-inner__aside {
    width: 265px;
    flex-shrink: 0;
    padding-right: 35px;
}
.l-inner__aside-inn {
    position: sticky;
    top: 80px;
}
.add-btn {
    width: 100%;
    background: #73b2ff;
    color: #fff;
}
.add-btn {
    border-radius: 20px;
}
.add-btn .icon {
    fill: #fff;
    font-size: 1.5em;
    margin-right: 4px;
    margin-top: -1px;
}
.icon {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    transition: all ease .3s;
    width: 1em;
    height: 1em;
}
.l-main:after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    background: #6972e0;
    height: 160px;
    z-index: -1;
    box-shadow: 0 3px 10px rgba(0,0,0,.1);
}